.App {
  text-align: center;
}

a {
  margin: 10px;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: lightblue;
}

a {
  text-decoration: none;

}
.user-recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.profile-recipes{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ingredients-input {
  width: 80%;
  height: 200px;

}
.instructions-input {
  width: 80%;
  height: 200px;
 
}

.comment-input{
width: 80%;
height: 130px;
}


/* .form {
} */

/* MEDIA QUERIES SI ES POSIBLE (RECOMENDADO) */
