.App {
  text-align: center;
}

a {
  margin: 10px;
}
.home {
display: flex;
flex-direction: column;
margin: 50px 25px 60px 25px;


}
.logo {
 margin-top: 50px;

}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: lightblue;
}
/* .navbar a{


} */

a {
  text-decoration: none;
}

button {
  color: rgb(80, 80, 105);
  font-size: 14px;
  line-height: 14px;
  padding: 5px;
  border-radius: 7px;
    font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(37, 145, 216) 0%,
    rgb(35, 136, 203) 50%,
    rgb(87, 171, 226) 100%
  );
  box-shadow: lightblue 5px 5px 15px 5px;
  border: 2px inset rgb(28, 110, 164);
  display: inline-block;
}
button:hover {
  background: #2591d8;
}
button:active {
  background: #57abe2;
}
.user-recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.profile-recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.search-results {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.ingredients-input {
  width: 80%;
  height: 200px;
}
.instructions-input {
  width: 80%;
  height: 200px;
}
.comment-input {
  width: 80%;
  height: 130px;
}

.recipe-card {
  width: 170px;
  border: 2px outset lightskyblue;
  border-radius: 15% 0 20% 0;
  box-shadow: 6px 5px 15px 2px lightblue;
  background-color: rgb(199, 229, 240);
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column; */
}
.img-card {
  border-radius: 20% 20% 20% 20%;
  width: 165px;
  margin-top: 5px;
}

.recipe-list {
  margin-bottom: 60px;
}
.recipe-details {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.recipe-details img {
  border-radius: 20% 20% 20% 20%;
  width: 210px;
  height: 210px;
}
/* .recipe-details{
} */
/* .form {
} */

/* MEDIA QUERIES SI ES POSIBLE (RECOMENDADO) */
