.App {
  text-align: center;
  font-family: "Playfair";
}

a {
  margin: 10px;
}
hr {
  margin-top: 20px;
  width: 100%;
  box-shadow: 6px 5px 15px 2px lightblue;
}
.home {
  display: flex;
  flex-direction: column;
  margin: 50px 25px 60px 25px;
}
.logo {
  margin-top: 50px;
}
.intro  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 15px 20px 10px 15px;
  border-radius: 15px 0 15px 0;
  border: 2px outset lightskyblue;
  box-shadow: 6px 5px 15px 2px lightblue;
  background-color: rgb(199, 229, 240);
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: lightblue;
}
.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }
.navbar img {
  margin-bottom: 10px;
  width: 47px;
  height: 45px;
}
.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-form {
  margin-top: 30%;
  width: 50%;
  padding: 20px 20px 20px 20px;
  border: 2px outset lightskyblue;
  border-radius: 15% 0 20% 0;
  box-shadow: 6px 5px 15px 2px lightblue;
  background-color: rgb(199, 229, 240);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search {
  margin: 25px 25px 60px 25px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 15px 20px 10px 20px;
  border-radius: 15px 0 15px 0;
  border: 2px outset lightskyblue;
  box-shadow: 6px 5px 15px 2px lightblue;
  background-color: rgb(199, 229, 240);
}
a {
  text-decoration: none;
}

button {
  color: rgb(223, 236, 255);
  font-size: 14px;
  line-height: 14px;
  padding: 5px;
  border-radius: 7px;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin: 5px;
  background-image: linear-gradient(
    to right,
    rgb(37, 145, 216) 0%,
    rgb(35, 136, 203) 50%,
    rgb(87, 171, 226) 100%
  );
  box-shadow: lightblue 5px 5px 15px 5px;
  border: 2px inset rgb(28, 110, 164);
  display: inline-block;
}
button:hover {
  background: #2591d8;
}
button:active {
  background: #57abe2;
}
.user-profile {
  width: 90%;
  margin: 15px 20px 10px 20px;
  border: 2px outset lightskyblue;
  box-shadow: 6px 5px 15px 2px lightblue;
  border-radius: 15px 0 15px 0;
  background-color: rgb(199, 229, 240);
  padding-bottom: 10px;
}
.user-recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.profile-recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.search-results {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.ingredients-input {
  width: 80%;
  height: 180px;
}
.instructions-input {
  width: 80%;
  height: 200px;
}
.comment-input {
  width: 80%;
  height: 130px;
}

.recipe-card {
  width: 170px;
  border: 2px outset lightskyblue;
  border-radius: 15% 0 13% 0;
  box-shadow: 6px 5px 15px 2px lightblue;
  background-color: rgb(199, 229, 240);
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column; */
}
.img-card {
  border-radius: 20% 20% 20% 20%;
  width: 165px;
  margin-top: 5px;
  border: 1px inset rgb(199, 229, 240);
}

.recipe-list {
  display: flex;
  flex-direction: column;
  margin: 40px 25px 60px 25px;
}
.recipe-details {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.recipe-details img {
  border-radius: 20% 20% 20% 20%;
  width: 210px;
  height: 210px;
}
.details {display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 90%;
margin: 15px 20px 10px 15px;
border-radius: 15px 0 15px 0;
border: 2px outset lightskyblue;
box-shadow: 6px 5px 15px 2px lightblue;
background-color: rgb(199, 229, 240);
}
.logged-out-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 15px 20px 10px 20px;
  border-radius: 15px 0 15px 0;
  border: 2px outset lightskyblue;
  box-shadow: 6px 5px 15px 2px lightblue;
  background-color: rgb(199, 229, 240);
}

.logged-out-recipes a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(77, 175, 236);
}
.comments {
  display: flex;
  flex-direction: column;
  margin: 30px 25px 60px 25px;
}
.comments-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 15px 20px 10px 20px;
  border-radius: 15px 0 15px 0;
  border: 2px outset lightskyblue;
  box-shadow: 6px 5px 15px 2px lightblue;
  background-color: rgb(199, 229, 240);
}
.new-comment {
  display: flex;
  flex-direction: column;
  margin: 20px 15px 60px 25px;
}

.comment-form {
  width: 90%;
  margin: 25px 10px 10px 15px;
  border-radius: 15px 0 15px 0;
  border: 2px outset lightskyblue;
  box-shadow: 6px 5px 15px 2px lightblue;
  background-color: rgb(199, 229, 240);
}
.comment-form h3 {
  margin-bottom: 0;
}
.comment-form textarea {
  width: 80%;
}

.comments-list {
  display: flex;
  flex-direction: column;
}

.comment-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 15px 20px 10px 20px;
  border-radius: 15px 0 15px 0;
  border: 2px outset lightskyblue;
  box-shadow: 6px 5px 15px 2px lightblue;
  background-color: rgb(199, 229, 240);
}
/* .comment-text {
text-align: left;


} */
/* .recipe-details{
} */
/* .form {
} */

/* MEDIA QUERIES SI ES POSIBLE (RECOMENDADO) */
